@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oxygen+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oxygen+Mono&family=Pacifico&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #101011;
    
   
  }

  /* Style the header */
  header {
    background-color: #021727;
    padding: auto;
    text-align: center;
    font-size: 35px;
    display: flex;
  }
  header a {
    text-decoration: none;
    font-size: 30px;
    color: #fff;
  }
  
  .menu-header {
    display: flex;
    gap: 35px;
    align-items: center;
  }
  
  .menu-header button {
    border: none;
    background: none;
    outline: none;
    width: 45px;
    height: 45px;
    color: #fff;
    font-size: 22px;
    position: relative;
    cursor: pointer;
  }
  
  .menu-header button:hover {
    transform: scale(1.05);
  }

  .counter-favorite,
  .counter-cart {
    font-size: 10px;
    position: absolute;
    background-color: orange;
    color: #000;
    font-weight: 700;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: 0;
    border-radius: 50%;
  }
  
  
.barra{
  font-family: Arial, Helvetica, sans-serif;
  width: 5%;
  height: 5%;
  position: absolute;
  top: 0;
    left: 0;
  transition: 0.8s all;
  z-index: 1000;
}
.barra ul{
  text-align: center;
  padding: 0px;
}
.barra li{
  transition: .3s all;
}
.barra a{
  text-decoration: none;
  list-style: none;
  transition: .3s all;
  font-size: 0px;
  padding: 0px;
}
.barra h2{
  text-align: center;
  font-size: 0px;
  color: white;
  padding: 7px;
  padding-bottom: 7px;
  font-size: 0px;
}
.barra img{
  margin-top: 35px;
}
.barra:hover{
  width: 20%;
  height: 100%;
  background-color: rgb(5,33,51,0.98);
}
.barra:hover h2{
  padding: 15px;
  font-size: 35px;
}
.barra:hover a{
  font-size: 20px;
  color: white;
  display: block;
  padding: 20px;
}
.barra:hover img{
  height: 0px;
}
.barra:hover li{
  border-top: 1px solid black;
  width: 100%;
}
.barra:hover ul:last-of-type{
  border-bottom: 1px solid black;
}
.barra:hover a:hover{
  font-size: 25px;
  padding: 30px 0px;
  background-color: #021727;
}

/* Estilo inicial del campo de búsqueda (oculto) */
.search-bar {
  width: 200px; 
  height: 25px;
  border-radius: 5px;
  font-size: 20px;
  outline: none;
  font-family: inherit;
  transition: width 0.3s ease, visibility 0.3s ease;
  padding: 0;
  border: none;
  visibility: hidden; /* Oculto inicialmente */
}

/* Hace que el campo sea visible cuando se pasa el cursor sobre la imagen */
.search-container:hover .search-bar {
  width: 250px; /* Ancho deseado cuando se muestra */
  padding: 0 10px;
  border: 1px solid #ccc; /* añadir borde */
  visibility: visible;
}



#icono_user{
  border-radius: 50%;
  margin-left: 150px;
  margin-top: -15px;
  position: absolute;
}


  .carousel-inner img {
    height: 500px; 
    object-fit: cover; 
    
}
.carousel-caption {
  background-color: rgba(144, 140, 140, 0.195); /* Fondo semitransparente */
  border-radius: 25px; /* Bordes redondeados */
  padding: 20px;
  position: absolute; /* Posicionamiento absoluto relativo al contenedor */
  right: 0; /* Alineación hacia la derecha */
  top: 50%; /* Alineación vertical al centro */
  transform: translateY(-50%); /* Centrado vertical perfecto */
  text-align: right; /* Alinear texto a la derecha */
  width: 350px; /* Ancho fijo */
  display: flex; /* Añadido para una mejor alineación del contenido */
  justify-content: flex-end; /* Asegura que el contenido se alinee a la derecha */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Opcional: Añade una sombra sutil para mayor profundidad */
}
  .carousel-caption h5 {
      color: white;
      font-size: 44px;
      font-weight: italic;
  }
  .carousel-caption a {
      color: white;
      font-size: 50px;
      font-weight: italic;
      text-decoration: none;
      margin-top: 10px;
  }
  .carousel-item{
    position: relative;
  }
  

  .pagina{
    background-color: #0d0d0d;
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    gap: 10px;
    position: relative;
    height: 180px;
  }
  .botton{
    display: grid; /* Activa Grid */
    place-items: center; /* Centra tanto horizontal como verticalmente */
    height: 40vh; 
    margin-left: -170px;
    height: 100px;
  }
  .boton {
    background-color: #0a0a0b;
    border: 4px solid #E0E0E0;
    color: #E0E0E0;
    font-family: Arial, sans-serif;
    font-size: 20px;
    padding: 20px 45px;
    position: absolute; /* Asegúrate de que el contenedor padre tenga position: relative; */
    text-align: center;
    cursor: pointer;
}
.boton:hover{
  transform: scale(1.05) ; /* Agrandar la imagen */
  box-shadow: 0 8px 16px rgba(248, 243, 243, 0.467); 
}


.container {
	max-width: 1200px;
	margin: 0 auto;
}

.container-products {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin: 30px 0;
	gap: 30px;
}

#lo_mas_nuevo{
  padding-top: 50px;
}
.card-product {
	display: flex;
  width: 340px;
	flex-direction: column;
	gap: 20px;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2); /* Sombra */
}

.card-product:hover {
	box-shadow: 0 0 5px #021727,
				0 0 10px #021727,
				0 0 20px #021727; /* Efecto de neón en el borde */
	border-radius: 12px;
}

.content-card-product {
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: 10px 25px;
}
.container-img {
	height: 250px;
	border-radius: 12px;
	overflow: hidden;
  position: relative;
  perspective: 1000px; /* Añadir perspectiva para el efecto 3D */
}
.container-img .flip-container {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d; /* Necesario para el giro */
  transition: transform 2.0s ease;
}

.container-img:hover .flip-container {
  transform: rotateY(180deg);
}
.container-img img,
.container-img .face-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 12px;
}
.container-img img {
  z-index: 1;
}

.container-img .face-back {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  transform: rotateY(180deg);
  z-index: 2;
}
ul {
  list-style-type: none; /* Elimina los puntos de la lista */
  padding: 0;
}
ul li strong {
  color: #333;
}

.footer-card-product {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px;
}

.price {
	font-weight: 700;
	font-size: 20px;
	color: #555;
}

.container-buttons-card {
	display: flex;
	gap: 20px;
}

.container-buttons-card button {
	border: none;
	background: none;
	outline: none;
	cursor: pointer;
	box-shadow: 0px 0px 15px black;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	font-size: 18px;
}

/* ********************************** */
/*         LISTA DE FAVORITOS         */
/* ********************************** */
.container-list-favorites {
	position: fixed;
	top: 0;
	right: 0;
	transform: translateX(400px);
	background-color: #555;
	opacity: 0;
	width: 400px;
	height: 100vh;
	transition: all 0.5s linear;
  z-index: 3;
}

.container-list-favorites.show {
	opacity: 1;
	transform: translateX(0);
}

.header-favorite {
	padding: 15px 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-favorite i {
	cursor: pointer;
}

.list-favorites {
	padding: 35px 20px;
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.list-favorites .card-favorite {
	width: 100%;
	background-color: #fff;
	box-shadow: 0px 0px 20px #00000065;
	padding: 20px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 30px;
}

.card-favorite .title {
	color: #000;
	flex: 1;
}

.card-favorite p:last-child {
	font-weight: 700;
	font-size: 22px;
	color: #000;
}

/* ------------------- */

#added-favorite {
	color: red;
	display: none;
}

#favorite-regular.active {
	background-color: red;
	display: none;
}

#added-favorite.active {
	display: block;
	color: black;
}


.contenedor_adorno{
  display: flex;
  background-color: black;
  padding: 30px;
  
}
.contenedor_gif{
  background-image: url('https://media.giphy.com/media/cJ5q9HzIlPFEd8lT8B/giphy.gif?cid=ecf05e47j2c8nrtqy3g5ebkgwluil0p79qd11rcvf6hf2sbs&ep=v1_gifs_related&rid=giphy.gif&ct=g');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  padding: 10px;
  margin-top: 80px;
}
  /* Style the footer */
  footer {
    background-color: #021727;
    color: white;
    padding: 80px;
    text-align: center;
    margin-top: 0;
}
.footer-content {
  display: flex;
  justify-content: space-around;
}
.footer-content h3 {
  margin-bottom: 10px;
}
.social-media a {
  margin-right: 5px; /* Ajusta el valor según sea necesario */
  padding-left: 20px;
}
.footer-content p, .footer-content a {
  color: #fff;
  text-decoration: none;
}
.footer-content a:hover {
  text-decoration: underline;
}
.newsletter button{
  background-color: white;
  border: 1px rgba(40, 38, 38, 0.86);;
    color: black;
    font-family: inherit;
    font-weight: 700;
    border-radius: 5px;
    padding: 2px 10px;
}
.imagen_redessociales img{  
  width: 350px;
  height: 70px;
}

  
  
  /* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
  @media (max-width: 600px) {
    section {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  }